<div class="pagina-productos">
  <h1 class="titulo">
    Productos Disponibles
  </h1>

  <div class="contenedor">
    <div class="card" *ngFor="let producto of productos">
      <!-- Imagen opcional -->
      <img src="https://via.placeholder.com/150">
      <h3>{{producto.nombre}}</h3>
      <p class="precio">
        $ {{producto.precio}}
      </p>
      <button>
        Ver Producto
      </button>
      <button (click)="eliminarProducto(producto.id)">
        eliminar
      </button>
    </div>
  </div>
  <button (click)="crearProducto()">
    Crear Producto
  </button>
</div>